<p>route-parent html</p>
<router-outlet></router-outlet>
<!-- the router outlet loads the first -->

<ul style="list-style: none">
  <a
    routerLink="sample"
    style="cursor: pointer; display: block"
    routerLinkActive=""
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Click to redirect to Sample</a
  >
  <a
    routerLink="content/123"
    style="cursor: pointer; width: fit-content; display: block"
    routerLinkActive=""
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Click to redirect to Content</a
  >
  <!-- The id defined can be recieved through the params to get the value -->
</ul>
